body {
  background-color: aliceblue;
    margin: 2rem;
    text-align: center;
}

.game_anchor {
    font-size: 1.5rem;
    color: black;
    background-color: lightsteelblue;
    padding: .5rem 1rem;
    margin: 1rem auto;
    max-width: 500px;
}

.game_anchor:hover {
    background-color: rgb(137, 162, 194);
    cursor: pointer;
}

.game_anchor h3 {
  margin-top: 0;
}

#repo {
    font-size: 1.2rem;
}