body {
    margin: 2rem;
}

.game_anchor {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    background-color: cadetblue;
    padding: 1rem;
    margin: 1rem 0rem;
}

.game_anchor:hover {
    background-color: darkgoldenrod;
}

#repo {
    font-size: 1.2rem;
}