* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ededed;
}

.main {
    padding: 1vw;
    margin: 0 auto;
    
    position: fixed;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
    max-width: 700px;
}

.sky {
    position: relative;
    background-image: linear-gradient(#2c1e3f, #6e6e78, #ededed);

    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    
    width: 100%;
    height: 100%;
}

.peak {
    position: relative;
    bottom: -10%;
    margin: auto;

    background-image: url("images/peak.png");
    background-size: cover;

    height: 100%;
    width: 60%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    animation-name: peak;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.star {
    position: absolute;
    width: 1%;
    height: 1%;

    background-color: #ffff00;
    clip-path: circle(20%);

    animation-name: star;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes star {
    50% { width: 1.1%; height: 1.1%; }
}


/* **************** CLOUDS & DREAMS ******************** */

.cloud {
    position: absolute;
    width: 25%;
    height: 20%;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.cloudling {
    position: absolute;
    width: 50%;
    height: 50%;

    border-radius: 50%;
    border-style: solid;
    border-color: #ededed;
    background-color: #6e6e78;

    border-width: 0 .6rem 0 0;
}

#cleft {
    left: 15%;
    top: 30%;
}
#cbottom {
    top: 45%;
    left: 25%;
}
#cright {
    left: 40%;
    top: 25%;
}
#ctop {
    top: 10%;
    left: 30%;
}

@keyframes clouds-left {
    50% { left: 80%; }
}
@keyframes clouds-right {
    50% { left: 5% }
}
