body {
    position: absolute;
    margin: 5rem 10rem;
    background-color: #7d929c;
}

.main {
    width: 620px;
    background-color: #655561;
    border-left: 2px solid #adcadc;
    border-top: 2px solid #adcadc;
    padding: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 72px);
    grid-auto-rows: 72px;
    grid-gap: 6px;
}

.tile {
    position: relative;
    background-color: #7d929c;
    box-shadow: 2px 2px #adcadc;
}
