body {
    margin: 5rem 0;
    background: url("images/background.png");
}

main {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
}

.menu {
    margin-top: 5rem;
    text-align: center;
}

.button {
    background-color: #ffd4d6;
    color: #7e7aa2;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Patrick Hand SC', cursive;
    outline: none;
    border: 2px solid #7e7aa2;
    border-radius: .3rem;
    height: 60px;
    width: 60px;
    margin: .1rem;
}

.box {
    position: relative;
    padding: .5rem;
    width: 500px;
    margin: auto;
    background-color: #ffd4d6;
    border: 2px solid #7e7aa2;

    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-auto-rows: 100px;
}

.tile {
    margin: .1rem;
    background-color: #f7b6b1;
    border: 2px solid #7e7aa2;
    border-radius: .3rem;
}

.tile:hover {
    cursor: pointer;
    background-color: #f09473;
}

/***** ANIMATIONS *****/
#leftBox {
    border-radius: 0 5rem 0 5rem;

    animation-name: leftBoxAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes leftBoxAnimation {
    0% { left: 0px; top: 0px; box-shadow: 15px 15px 3px #d6a0a7; }
    50% { left: 5px; top: 5px; box-shadow: 10px 10px 3px #d6a0a7; }
    100% { left: 0px; top: 0px; box-shadow: 15px 15px 3px #d6a0a7; }
}

#rightBox {
    border-radius: 5rem 0 5rem 0;

    animation-name: rightBoxAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rightBoxAnimation {
    0% { right: 0px; top: 0px; box-shadow: -15px 15px 3px #d6a0a7; }
    50% { right: 5px; top: 5px; box-shadow: -10px 10px 3px #d6a0a7; }
    100% { right: 0px; top: 0px; box-shadow: -15px 15px 3px #d6a0a7; }
}
