body {
    margin: 0;
    background-color: #e5e5e5;
}

#headerDiv {
    position: relative;
}

.header {
    position: absolute;
    margin: 0rem auto;
    padding: 0rem 2rem;
    font-family: 'Common Pixel', sans-serif;
    font-size: 100px;
    color: #e5e5e5;
    
}

#\#FFdd00, #\#FFFFFF {
    color: #bebebe;
}

.menu {
    text-align: right;
    margin: 1rem 2.5rem;
}

.button {
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
    background-color: white;
    margin-left: 0.1rem;
}

.button:hover {
    cursor: pointer;
}
